@{
    ViewData["Title"] = "Index";
}

<style>
    .text-center{
        color:black;
    }
</style>

<div class="text-center">
    Welcome @ViewBag.UserName
    <h1 class="display-4">SLT Gate Pass System</h1>
    <h2>GetUserDetails</h2>
</div>